@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    <div class="container">

      <h1 class="jumbotron">Getting Know About Me</h1>
      <h4 class="bg-about">A little bit about my background:</h4>
      <ul>
        <li>I came from Indonesia, a beatiful country and has a great foods!</li>
        <li>I came to Seattle 4 years ago to continue my education.</li>
        <li>Graduated from University of Washington (yay) on June 2017.</l1>
        <li>I have bachelor degree in Civil and Environmental Engineering.</li>
        <li>My job experineces were all great, altohugh there are not related to my major.</li>
        <li>In the end, I choose to study again in <a href="http://www.epicodus.com" id ="epicodus">Epicodus</a>! (<em>Check their website</em>)</li>
      </ul>

      <br>

      <h4 class="bg-about">So why am I join Epicodus?</h4>

      <p>Well, I always want to expand my knowledge in every posibble way.
        My interest in Coding is high, however my major does not provide any class related to the coding.
        After graduated, and couple of months looked for the job in civil engineering. I was kinda tired.
        So, I choose to have another classes to improve my knowledge and skills, and here I am.</p>

      <br>

      <h4 class="bg-about">How is it in Indonesia?</h4>

      <p>Always love Indonesia! I think all people should visit here, it is a beatiful country.
        I know most of the people know about Bali, but there is much more here. And, Indonesian foods
        are amazing. I can give you about places you should go while you are in Indonesia. Just contact me!!</p>

      <br>

      <h4 class="bg-about">What is my hobbies?</h4>

      <p>I am not sure about my hobbies, but I can list you what do I like to do on the weekends!
        <ul>
          <li>Travelling (#1), always love to go to the new places.</li>
          <li>Eat food? I don't know if it is a hobby, but I enjoy foods (and gained 7 kg over summer).</li>
          <li>Waching movies (Beware, I am a movies addict).</li>
        </ul>
      </p>

      <br>

      <h4 class="bg-about">What is my skills?</h4>

      <p>Well, I will list again here down (If I use many "Unordered List", maybe I can get a better score)
        <ul>
          <li>Civil Engineering skills: planning, designing, estimating, analyzing. All that related to
            construction and transportation</li>
          <li>Code skills: Python, C++, this HTML and CSS, SQL, R, and MatLab (All beginner).</li>
          <li>Special skills: Gardening, my mom always like gardening</li>
        </ul>
      </p>

      <br>

      <h4 class="bg-about">What is your goal?</h4>

      <p>Woah. Big question. I have 3 main goals in my life!
        <ol>
          <li>Makes my mom proud on me and has a better life.</li>
          <li>I always want to open a free school or education for people who cannot afford it.</li>
          <li>Lastly, being successful and can give big impact to the community, especially in Indonesia.</li>
        </ol>

      </p>

      <br>
      
    </div>
  </body>
</html>