@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BasicAuthentication.Models.Item

<h2>Add a new Post</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to List", "Index")
