@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
  <head>
    <title>Hansen's Portofolio</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="container">



      <h1 class="jumbotron"><span id="name">Hansen's</span> <span id="portfolio">Portfolio</span></h1>

      <h3>Hi, my name is <span id="name">Hansen</span>, and welcome to my page</h3>

      <br>

      <div id="intro">
        <h4 id="readme">Read Me First</h4>
        <p>
          Hey guys!! My name is Hansen, and I am from Indonesia. I am currently studying in Epicodus to pursue my career as software developer.
          This is my first portfolio about me in website, and I am very excited to continue upgrading this portfolio.
          <br><br>
          Please check it out my own projects that I created from my studies in Epicodus. And, if there are critiques and suggestions for the
          improvement, please contact me!!
          <br><br><br>
          Email: <a href="mailto:hansenja24@gmail.com">Hansenja24@gmail.com</a>
        </p>
      </div>

    </div>
  </body>
</html>