@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="container">

      <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">Home</a></li>
        <li role="presentation" class="active"><a href="projects.html">Projects</a></li>
        <li role="presentation"><a href="about-me.html">About Me</a></li>
      </ul>

      <h1 class="jumbotron">The Projects</h1>

      <h4>This page is about all the projects that I created in my first week in Epicodus.</h4>

      <div class="row">
        <a href="https://github.com/hansenja24/hello-world">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">hello-world</h4>
            <p class="panel-body">
              This hello-project is a HTML project that contains a header, paragraph, and list about Hello World in different Languages.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/goodbye">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">goodbye</h4>
            <p class="panel-body">
              This project is a HTML project that contains a header, paragraph, and list about Goodbye in different Languages.
              <br><br>
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/cookie-recipe">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">cookie-recipe</h4>
            <p class="panel-body">
              This is a HTML project about cookie recipe. The focus on this project is differentiate between underodered and ordered list.
            </p>
          </div>
        </a>
      </div>

      <div class="row">
        <a href="https://github.com/hansenja24/my-first-webpage">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">my-first-webpage</h4>
            <p class="panel-body">
              Creating my first webpage by using HTML files. It is including linking to another website and inserting picture inside the HTML.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/readmetest">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">readmetest</h4>
            <p class="panel-body">
              A ReadMe that is created by using MD. The purpose of ReadMe is giving a basic understanding about the our HTML in repository.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/myfirstwebpage">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">myfirstwebpage</h4>
            <p class="panel-body">
              A same copy of my-first-pages HTML files. However, it is edited and added gh-pages branch, so user can look the webpage directly.
            </p>
          </div>
        </a>
      </div>

      <div class="row">
        <a href="https://github.com/hansenja24/pets">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">pets</h4>
            <p class="panel-body">
              A HTML file about my favorite pet, Turner. It is including his picture inside HTML, and a list of his favorite toys and activities.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/branching-test">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">branching-test</h4>
            <p class="panel-body">
              A basic learning about creating branch of HTML by using git. Creating seperate branch files and merge it together in the end.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/resort">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">resort</h4>
            <p class="panel-body">
              A big HTML program files about resort vacation. It contains Home page, travel, accomodation, activities, contact, and ReadMe, and edited by CSS.
            </p>
          </div>
        </a>
      </div>

      <div class="row">
        <a href="https://github.com/hansenja24/cupcakes">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">cupcakes</h4>
            <p class="panel-body">
              Creating a rank of cupcakes flavor HTML. It focused on "Class" command and used it in CSS.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/boring">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">boring</h4>
            <p class="panel-body">
              A boring lecture html. It contains contents that are seperated by "div" tag, and used it in CSS.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/band">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">band</h4>
            <p class="panel-body">
              A complete HTMl files about my favorite band, Blink-182. It includes picture and the HTML is designed by using CSS.
            </p>
          </div>
        </a>
      </div>

      <div class="row">
        <a href="https://github.com/hansenja24/blog">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">blog</h4>
            <p class="panel-body">
              A complete HTML about my blog website. It contains "div" tag for every post in the blog, and it is used for CSS designing.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/resume">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">resume</h4>
            <p class="panel-body">
              A complete HTMl about my resume. It contains "div" tag and "span" tag and "class" command in this HTML.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/decorator">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">decorator</h4>
            <p class="panel-body">
              A HTML about 3 different decoration of room (before, current, after), and it is divided into 3 column by using float.
            </p>
          </div>
        </a>
      </div>

      <div class="row">
        <a href="https://github.com/hansenja24/media-query-practice">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">media-query-practice</h4>
            <p class="panel-body">
              A HTML that is focused for learning media query in HTML and CSS. The HTML will change, depends on the size of the screen.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/animal-shelter">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">animal-shelter</h4>
            <p class="panel-body">
              List of animals in the shelter, by using HTML. They are divided into 3 column by using float in CSS.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/week-in-review">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">week-in-review</h4>
            <p class="panel-body">
              A learning about using bootstrap from CSS into HTML. Furthermore, it contains grid system from the bootstrap.
            </p>
          </div>
        </a>
      </div>

      <div class="row">
        <a href="https://github.com/hansenja24/vacation-packages">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">vacation-packages</h4>
            <p class="panel-body">
              A further learning about using bootstrap from CSS into HTML. It contains a lot of "class" that is linked with bootstrap to have a better webpage.
            </p>
          </div>
        </a>
        <a href="https://github.com/hansenja24/wikipedia-homepage">
          <div class="col-sm-4 panel panel-info">
            <h4 class="panel-title">wikipedia-homepage</h4>
            <p class="panel-body">
              A copy of Wikipedia webpage, by using HTML and our own CSS from the scratch, with bootstrap help. The result is 85% similar to the real page.
            </p>
          </a>
        </div>
      </div>

    </div>
  </body>
</html>