@model IEnumerable<Portfolio.Models.Post>

@{
    ViewData["Title"] = "Post - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
  $(document).ready(function() {
    
    $('.display-post').click(function () {
        $('.display-post').hide();
      $.ajax({
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        url: '@Url.Action("DisplayObject")',
        success: function (result) {
	    console.log(result.length);
        var resultString = "";
	        result.forEach(function(res)
    	{
            resultString += '<strong>'+res.title+'</strong>' + '<br>' + res.content + '<br>';
    	});
    	   
          $('#result').html(resultString);
        }
      });
    });
  });
</script>

<h2>Here is your list of posts, @User.Identity.Name</h2>

 <h4 class="display-post">Click Post</h4>

 <div id="result"></div>


<p>@Html.ActionLink("Create New Post", "Create")</p>
<p>@Html.ActionLink("List of Projects", "Project")</p>


