@model IEnumerable<Portfolio.Models.Post>

@{
    ViewData["Title"] = "Post - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
  $(document).ready(function() {
    
    $('.display-post').click(function () {
	console.log("test");
      $.ajax({
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        url: '@Url.Action("DisplayObject")',
        success: function (result) {
	    console.log(result.length);
        var resultString = "";
	        result.forEach(function(res)
    	{
            resultString += res.title + '<br>' + res.content + '<br>';
    	});
    	   
          $('#result').html(resultString);
        }
      });
    });
    $('.hello-ajax').click(function () {
      $.ajax({
        type: 'GET',
        url: '@Url.Action("HelloAjax")',
        success: function (result) {
          $('#result1').html(result);
        }
      });
    });
  });
</script>

<h2>Here is your list of posts, @User.Identity.Name</h2>

 <h4 class="display-post">Click Post</h4>

 <div id="result"></div>

 <h2>Basic AJAX</h2>
          <h4 class="hello-ajax">Hello AJAX</h4>
          <div id="result1"></div>

<p>@Html.ActionLink("Create New Post", "Create")</p>


